services:
  discord-socket-bot:
    build:
      context: .
    ports:
      - "12345:12345"
    restart: unless-stopped
    environment:
      - CLIENT_TOKEN=${CLIENT_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - CHANNEL_ID=${CHANNEL_ID}
      - NODE_ENV=production
      - HOST_ENV=docker
      - REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    image: redis:latest
    restart: unless-stopped
    volumes:
      - redis-data:/data

volumes:
  redis-data:
